'context-menu':
  'atom-text-editor': [
    {
      command: 'selection:edit-in-new-tab'
      label: 'Edit in new Tab'
    }
    {
      command: 'selection:move-to-new-tab'
      label: 'Move to new Tab'
    }
  ]
